<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
			<li class="active"><a href="#">All <span class="sr-only">(current)</span></a></li>
			<li><a href="#">Added</a></li>
			<li><a href="#">Processing</a></li>
			<li><a href="#">Completed</a></li>
			<li><a href="#">Paused</a></li>
			<li><a href="">Canceled</a></li>
			<li><a href="">Launched</a></li>
			<li><a href="">Failed</a></li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">Your Render Jobs</h1>
		<%
			if(typeof jobs !== 'undefined' && jobs.length > 0){
		%>

		<div class="row placeholders">
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Completed</h4>
				<span class="text-muted">Completed Jobs</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Failed</h4>
				<span class="text-muted">Failed Jobs</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Month ($)</h4>
				<span class="text-muted">Total spent this month.</span>
			</div>
			<div class="col-xs-6 col-sm-3 placeholder">
				<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
				<h4>Year ($)</h4>
				<span class="text-muted">Total spent this year.</span>
			</div>
		</div>

		<% } else { %>

			<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder">
					<img data-src="holder.js/200x200/auto/grey" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Completed</h4>
					<span class="text-muted">Completed Jobs</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img data-src="holder.js/200x200/auto/grey" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Failed</h4>
					<span class="text-muted">Failed Jobs</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img data-src="holder.js/200x200/auto/grey" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Month ($)</h4>
					<span class="text-muted">Total spent this month.</span>
				</div>
				<div class="col-xs-6 col-sm-3 placeholder">
					<img data-src="holder.js/200x200/auto/grey" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4>Year ($)</h4>
					<span class="text-muted">Total spent this year.</span>
				</div>
			</div>

		<% } %>

		<h2 class="sub-header">All Jobs</h2>
		<br>
		<ul class="media-list">
			<%
			if(typeof jobs !== 'undefined' && jobs.length > 0){
				for(var i=0; i < jobs.length; i++) {
			%>
					<li class="media divider">
						<div class="media-left pull-left">
							<a href="#">
								<img src="holder.js/242x130/auto/sky" alt="thumb-242x130" width="242" height="130" />
							</a>
						</div>
						<div class="media-body">
							<h3 class="media-heading"><a href="/jobs/detail/<%= jobs[i].id %>"><%= jobs[i].name %></a> <small>$0.00</small>
								<% if(typeof jobs[i].renders !== 'undefined') { %>
									<% if(jobs[i].renders[0].status === "waiting") { %>
									<small class="pull-right label label-default"><%= jobs[i].renders[0].status %></small>
									<% } %>
									<% if(jobs[i].renders[0].status === "completed") { %>
									<small class="pull-right label label-success"><%= jobs[i].renders[0].status %></small>
									<% } %>
									<% if(jobs[i].renders[0].status === "failed") { %>
									<small class="pull-right label label-danger"><%= jobs[i].renders[0].status %></small>
									<% } %>
								<% } else { %>
									<small class="pull-right label label-default">waiting</small>
								<% } %>
							</h3>
							<div class="row-fluid clearfix">
								<div class="col-md-4 nopadding nomargin">
									<ul class="nobull">
										<% if(typeof jobs[i].renders !== 'undefined') { %>
											<% if(jobs[i].renders[0].start_time !== 'undefined') { %>
												<li>Start Time: <%= jobs[i].renders[0].start_time %></li>
											<% } else { %>
												<li>Start Time: n/a</li>
											<% } %>
											<% if(jobs[i].renders[0].end_time !== 'undefined') { %>
												<li>End Time: <%= jobs[i].renders[0].end_time %></li>
											<% } else { %>
												<li>End Time: n/a</li>
											<% } %>
										<% } %>
										<li>Elapsed: 00:25:59</li>
										<li>Cycles 2.74</li>
									</ul>
								</div>
								<div class="col-md-4">
									<ul class="nobull">
										<li>Instances: <%= jobs[i].aws_ec2_instance_count %></li>
										<li>Instances Type: <%= jobs[i].instance_type %></li>
										<li>EC2 Region: <%= jobs[i].aws_ec2_region %></li>
										<li>SQS Region: <%= jobs[i].aws_sqs_region %></li>
										<li>Amazon S3 Frame Bucket: <%= (jobs[i].aws_s3_render_bucket) || 'n/a' %></li>
									</ul>
								</div>
							</div>
							<div class="row-fluid">
								<ul class="pull-right nobull list-inline">
									<% if(typeof jobs[i].renders !== 'undefined') { %>
										<% if(jobs[i].renders[0].status === "waiting") { %>
											<li><a href="/jobs/submit/<%= jobs[i].id %>" title="Start the job."><i class="fa fa-youtube-play fa-lg text-success"></i></i></a></li>
										<% } %>
									<% } else { %>
										<li><a href="/jobs/submit/<%= jobs[i].id %>" title="Start the job."><i class="fa fa-youtube-play fa-lg text-success"></i></i></a></li>
									<% } %>
									<li><a href="/jobs/cancel/<%= jobs[i].id %>" title="Cancel the job."><i class="fa fa-ban fa-lg text-warning"></i></a></li>
									<li><a href="/jobs/destroy/<%= jobs[i].id %>" title="Delete the job."><i class="fa fa-times-circle-o fa-lg text-danger"></i></a></li>
								</ul>
							</div>
						</div>
					</li>
			<%
				}
			} else {
			%>
			<div class="row-fluid">
				<h1 class="header">You haven't added any jobs.</h1>
				<p class="lead">To get started, choose jobs in the navigation menu above and add one.</p>
			</div>
			<% } %>
		</ul>
	</div>
</div>