<div class="container">
	<div class="row-fluid">
		<div class="header">
			<h1>Submit Job</h1>
			<p class="lead">Are you ready to start the job <%= job.name %>?</p>
			<p>Upon submission, <label class="label label-info"><%= (job.aws_ec2_instance_count) || 0 %></label> Amazon EC2 instance(s) of the type <label class="label label-info"><%= (job.instance_type) || "unknown" %></label> will be spun up. The app will also start an Amazon SQS work queue <label class="label label-info"><%= job.queue.name %></label> will be filled with a total of <label class="label label-info"><%= (job.animation_total_frames) || 0 %></label> frames.</p>
		</div>
		<section class="job-details">
			<form id="submitJob" action="/jobs/start" method="POST" enctype="multipart/form-data">
				<!-- <div class="form-group">
					<label for="inputMaxAmount">Max Amount (in dollars)</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type="text" class="form-control input-xs" id="inputMaxAmount" name="max_spend_amount" placeholder=".07">
					</div>
				</div> -->
				<div class="form-group clearfix">
					<div class="pull-right">
						<button type="submit" id="submit" class="btn btn-success" title="Starts the job." value="start">Start</button>
					</div>
				</div>
			</form>
		</section>
	</div>
</div>